<ion-header>
  <ion-navbar>
    <button *ngIf="isLoggedIn"  ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Bienvenue {{username}}</h3>

  <p>
    Sur votre application de vérification des systèmes incendie.
  </p>

  <button *ngIf="isLoggedIn"  ion-button (click)="goToRapport()">Démarrer un nouveau rapport</button>
  <button *ngIf="!isLoggedIn" ion-button (click)="goConnect()">Se connecter pour démarrer</button>
</ion-content>
